body {
    background: #f7f7f7;
    font-family: Arial, sans-serif;
}
#sc {
    color: #7b8f95;
}
td.name {
    color: #9cabb0;
    width: 345.594px;
    height: 57px;
}
input.nick {
    color: #bfcacd;
    width: 342px;
    height: 23px;
}
input.but {
    background: #38ac5a;
    color: #ffffff;
    width: 355px;
    height: 28px;
}
#doc {
    border-collapse: collapse;
    width: 100%;
}
#d {
    background: #ebebeb;
    border: 2px solid white;
}
